body {
    background-color: lightblue;
    width: 80%;
    border: 3px solid #72AD21;
    padding: 10px;
    background-image: url("backgroundpic.jpg");
    background-size: contain;
}

h1 {
    color: dark-blue;
    text-align: center;
}

#displayCourses, #mainInfo {
	background-color: white;
	display: inline-block;
	border: 3px solid #72AD21;
	margin: 3px;
	vertical-align:top;
}

#mainInfo{
	width:400px;
}

img {
    opacity: 0.4;
    filter: alpha(opacity=40); 
}

fieldset {
	background-color: lightblue;
}

.mainmenu {
	color:white;
}

.largeTextInput{
	height:150px;
	width:300px;
}

textarea{
	resize:none;
}
