body {
    background-color: lightblue;
    text-align: center;
    margin: center;
    width: 60%;
    border: 3px solid #72AD21;
    padding: 10px;
    background-image: url("backgroundpic.jpg");
    background-size: contain;
}

h1 {
    color: dark-blue;
    margin: auto;
}

#divElement{
	position: absolute;
	left:50%;
}

img {
    opacity: 0.4;
    filter: alpha(opacity=40); 
}

fieldset {
	background-color: white;
}

.mainmenu {
	color:white;
}
